<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452807259343-8ath8fuvb0gbtptkcsn7a6eodvndfpou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452807259343-8ath8fuvb0gbtptkcsn7a6eodvndfpou</string>
	<key>API_KEY</key>
	<string>AIzaSyDyS-hbPDRxI61wT4cIhavp8xmEP91nflY</string>
	<key>GCM_SENDER_ID</key>
	<string>452807259343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.quadriga</string>
	<key>PROJECT_ID</key>
	<string>quadriga-ddfef</string>
	<key>STORAGE_BUCKET</key>
	<string>quadriga-ddfef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452807259343:ios:0b7b477d16d5bfee</string>
	<key>DATABASE_URL</key>
	<string>https://quadriga-ddfef.firebaseio.com</string>
</dict>
</plist>