{
  "presets": ["react-native"],
  "retainLines": true,
  "plugins": [
    ["module-resolver", {
      "root": "./",
      "alias": {
        "api": "./src/api",
        "components" : "./src/components",
        "account": "./src/account",
        "i18n":"./src/i18n",
        "exchange": "./src/exchange",
        "assets" : "./src/assets",
        "orders" : "./src/orders",
        "AppRedux" : "./src/rootRedux",
        "users" : "./src/users",
        "navigation" : "./src/navigation",
        "util" : "./src/util",
        "wallet" : "./src/wallet"
      }
    }]
  ]
}
